
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<h1 style="text-align: center; margin-top:120px; font-family:montserrat;">About Us</h1>
<hr />
<div class="wrapper" style="margin-bottom:80px;">
    <div class="container">
        <div class="para-text" style="font-family:Roboto;">
            <p>House of Bagmati presents you a specific rage of household products. Bagmati has been known since 1995 for its high quality products.</p>
            <p>Bagmati has been expanding its wings into new segment household products according to change in time and trend which has helped it to remain competitive in this business till now.</p>
            <p>The dynamic and hardworking expert team of Bagmati has been creating a uniquely designed range of everyday use household products that are strong and durable, made from the highest quality raw material (100% virgin polymers).</p>
            <p>Bagmati household products are made from 100% food grade material that are safe and its trendy colors makes the products look fresh just like the food inside it.</p>
            <p>With the best quality houseware products which are stronger and durable made from German technology, Bagmati Designer Houseware is here to add comfort, convenience, and safety for everyday use.</p>
        </div>
        <div style="text-align:center; padding-bottom:20px;">
            <a href="#" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Download Brochures</a>
        </div>
        <div class="img-box">
            <img src="~/Images/456.png" />
        </div>
    </div>
</div>

