
@{
    ViewBag.Title = "Certificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="primary container" style=" padding: 20px 10px 10px 10px;">

    <div class="slider-title" style="margin-top:100px; font-family:montserrat;"><h2>Certificates</h2></div>
    <hr />
    <img src="~/images/certificate1.jpg" height="800" width="500" />

    <br />
    <div class="text-box-content">
        <h3 class="image-box-title">AN ISO 9001:2015 CERTIFIED COMPANY</h3>
        <p class="image-box-description">AN ISO 9001:2015 CERTIFIED COMPANY</p>
    </div>
    <div>
        <img src="~/images/award.jpg" height="800" width="500" />
    </div>
</div>
