
@{
    ViewBag.Title = "OurBrands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-bottom:50px;">
    <div class="totalbox" style="background-color:#f5f2f2; margin-right:-20px;">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9 maintitle">

                        <div>
                            <h2 class="brandtitle" style="color:black;  font-size: 34px; text-align:center;">Our Brands</h2>
                        </div>
                    </div>
                    <div class="container" style="margin-top:30px; margin-left:30px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="category-page-item">
                                    <a href="bagmati-ware/index.html">

                                        <img src="~/img/BagmatiWare.jpg" class="img-resposive">
                                    </a>
                                    <div class="cat-page-item-title">
                                        <a href="~/Views/Layout/OurBrands.cshtml"></a>
                                        <a alt="View all posts in textdomain">Bagmati-Ware</a>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="category-page-item">
                                    <a href="bagmati-ware/index.html">

                                        <img src="~/img/c-2.png" class="img-resposive">
                                    </a>
                                    <div class="cat-page-item-title">
                                        <a href="~/Views/Layout/OurBrands.cshtml"></a>
                                        <a alt="View all posts in textdomain">Fishtail</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-4 col-sm-12 col-xs-12">

                                <div class="category-page-item">
                                    <a href="bagmati-ware/index.html">

                                        <img src="~/img/c-1.png" class="img-resposive">
                                    </a>
                                    <div class="cat-page-item-title">
                                        <a href="~/Views/Layout/OurBrands.cshtml"></a>
                                        <a alt="View all posts in textdomain">Rhino</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">

                                <div class="category-page-item">
                                    <a href="bagmati-ware/index.html">

                                        <img src="~/img/Untitled-design-1.png" class="img-resposive">
                                    </a>
                                    <div class="cat-page-item-title">
                                        <a href="~/Views/Layout/OurBrands.cshtml"></a>
                                        <a alt="View all posts in textdomain">Stripe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-md-2" style="margin-top:80px;">
        <section>
            <img src="~/img/Untitled-2.jpg" class="imgrhn" style=" width:190px; height: 350px;">
            <br />
            <div class="contbrand">
                <div class="newcatlist">
                    <h2 style="color:black; font-size: 19px; margin-left:35px; margin-top:10px;">Brands</h2>
                    <ul style="margin: 0; padding-left: 30px; list-style:none;">
                        <li>
                            <a>Rhino</a>

                        </li>
                        <li>
                            <a>Stripe</a>

                        </li>
                        <li>
                            <a>Bagmati</a>

                        </li>
                        <li>
                            <a>Fishtail</a>

                        </li>
                    </ul>
                </div>
            </div>

        </section>

    </div>
</div>

