
@{
    ViewBag.Title = "OurCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:100px; margin-bottom:0px;">
    <div class="row">
        <div class="col-md-9">
            <section class="main-blog">
                <div class="slider-title" style="text-align:center; font-family:montserrat;"><h2>Categories</h2></div>
                <hr />
                <div class="row" style="font-family:montserrat;">

                    <div class="col-md-4">
                        <div class="main-product-item">
                            <div class="main-product-img" style="background:none;">
                                <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bathroomutilities.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                            </div>
                            <div class="main-product-texts">
                                <h4><a href="" title="Bathroom Utilities">Bathroom Utilities</a></h4>
                                <p></p>
                                <a href="" class="btn theme-button-red">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main-product-item">
                            <div class="main-product-img" style="background:none;">
                                <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/kitchenutilities.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                            </div>
                            <div class="main-product-texts">
                                <h4><a href="" title="Kitchen Utilities">Kitchen Utilities</a></h4>
                                <p></p>
                                <a href="" class="btn theme-button-red">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main-product-item">
                            <div class="main-product-img" style="background:none;">
                                <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/Micilineous.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                            </div>
                            <div class="main-product-texts">
                                <h4><a href="" title="Miscellaneous">Miscellaneous</a></h4>
                                <p></p>
                                <a href="" class="btn theme-button-red">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main-product-item">
                            <div class="main-product-img" style="background:none;">
                                <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/thermoware.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                            </div>
                            <div class="main-product-texts">
                                <h4><a href="" title="Thermoware">Thermoware</a></h4>
                                <p></p>
                                <a href="" class="btn theme-button-red">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main-product-item">
                            <div class="main-product-img" style="background:none;">
                                <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/dustbinutilities.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                            </div>
                            <div class="main-product-texts">
                                <h4><a href="" title="Dustbin Utilities">Dustbin Utilities</a></h4>
                                <p></p>
                                <a href="" class="btn theme-button-red">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main-product-item">
                            <div class="main-product-img" style="background:none;">
                                <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                            </div>
                            <div class="main-product-texts">
                                <h4><a href="" title="New Category">New Category</h4>
                                <p></p>
                                <a href="" class="btn theme-button-red">Add New</a>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-4">
                            <div class="main-product-item">
                                <div class="main-product-img" style="background:none;">
                                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                                </div>
                                <div class="main-product-texts">
                                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                                    <p></p>
                                    <a href="" class="btn theme-button-red">View More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="main-product-item">
                                <div class="main-product-img" style="background:none;">
                                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgvegkeeper.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                                </div>
                                <div class="main-product-texts">
                                    <h4><a href="" title="Vegetable Keeper">Vegetable Keeper</a></h4>
                                    <p></p>
                                    <a href="" class="btn theme-button-red">View More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="main-product-item">
                                <div class="main-product-img" style="background:none;">
                                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgdustpicker.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                                </div>
                                <div class="main-product-texts">
                                    <h4><a href="" title="Dust PickerL">Dust Picker</a></h4>
                                    <p></p>
                                    <a href="" class="btn theme-button-red">View More</a>
                                </div>
                            </div>
                        </div>*@

                    <div class="pagination">
                    </div>


                </div>
            </section>
        </div>

        <div class="col-md-3">

            <aside id="secondary" class="widget-area main-sidebar" style="margin:115px auto auto 30px; font-family:montserrat; padding-right:20px;">
                <section id="categories-2" class="widget widget_categories">
                    <h2 class="widget-title" style="margin-left:15px;">Bagmati Items</h2>
                    <ul>
                        <li class="cat-item cat-item-72">
                            <a href="">AIRTIGHT CONTAINER</a>
                        </li>

                        <li class="cat-item cat-item-64">
                            <a href="" title="Basin">Basin</a>
                        </li>
                        <li class="cat-item cat-item-21">
                            <a href="">Bathroom Utilities</a>
                        </li>
                        <li class="cat-item cat-item-58">
                            <a href="">Big Series</a>
                        </li>
                        <li class="cat-item cat-item-62">
                            <a href="" title="Bucket">Bucket</a>
                        </li>
                        <li class="cat-item cat-item-18 current-cat">
                            <a aria-current="page" href="">Dustbins</a>
                        </li>
                        <li class="cat-item cat-item-13">
                            <a href="">Featured Product</a>
                        </li>

                        <li class="cat-item cat-item-71">
                            <a href="">HANGER</a>
                        </li>
                        <li class="cat-item cat-item-70">
                            <a href="">JUG</a>
                        </li>
                        <li class="cat-item cat-item-35">
                            <a href="">Kitchen Utilities</a>
                        </li>
                        <li class="cat-item cat-item-1">
                            <a href="">Miscellaneous</a>
                        </li>
                        <li class="cat-item cat-item-65">
                            <a href="" title="mug jug">Mug</a>
                        </li>
                        <li class="cat-item cat-item-73">
                            <a href="">NEW PRODUCT</a>
                        </li>
                        <li class="cat-item cat-item-51">
                            <a href="" title="Pet Prefom For Dog Feed">Pet Preform</a>
                        </li>
                        <li class="cat-item cat-item-67">
                            <a href="" title="Pirka/Stool">Pirka/Stool</a>
                        </li>
                        <li class="cat-item cat-item-57">
                            <a href="">Planters</a>
                        </li>
                        <li class="cat-item cat-item-59">
                            <a href="">Print Series</a>
                        </li>

                        <li class="cat-item cat-item-66">
                            <a href="" title="Soap Case">Soap Case</a>
                        </li>

                        <li class="cat-item cat-item-60">
                            <a href="">Student Utilities</a>
                        </li>
                        <li class="cat-item cat-item-52">
                            <a href="">Thermoware</a>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>

    </div>
</div>
