
@{
    ViewBag.Title = "OurProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <section class="main-blog">
        <div class="slider-title" style="text-align:center; font-size:34px; font-family:montserrat;"><h2>Products</h2></div>
        <hr />
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL">
                        <img width="2560" height="1707" src="~/Images/bgbasin.jpeg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px">
                    </a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Basin">Basin</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgbucket.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Bucket">Bucket</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgchair.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Chair">Chair</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgdustpicker.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Dust Picker">Dust Picker</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgmug.jpeg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Mug">Mug</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgtable.jpeg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Table">Table</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgvegkeeper.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Veg Keeper">Veg Keeper</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/step in bin.JPG" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Step In Bin">Step In Bin</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-product-item">
                <div class="main-product-img" style="background:none;">
                    <a href="" title="STEP IN BIN SMALL"><img width="2560" height="1707" src="~/Images/bgpirka.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 2560px) 100vw, 2560px"></a>
                </div>
                <div class="main-product-texts">
                    <h4><a href="" title="Stool/Pirka">Stool/Pirka</a></h4>
                    <p></p>
                    <a href="" class="btn theme-button-red">View More</a>
                </div>
            </div>
        </div>
    </section>
</div>


